*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background:linear-gradient( #0bf3ff, #2cbcff);
}
.gradient{
    background:linear-gradient(280deg,#383838,#333333);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 40px -20px 10px 10px  #0190c4;  
}
.container{
    min-height: 500px;
    width: 350px;
    background-color: #222;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 10px rgba(85, 85, 85, 0.5);
}
.container .display{ 
    display: flex;
    padding: 12px;
    width: 100%;
}
.container .display input{
    padding: 20px 15px;
    font-size: 20px;
    margin: 10px 20px;
    flex: 1;
    border-radius: 9px;
    box-shadow: 0 3px 5px 9px #757777;
    text-align: end;
    float: left;

}
.btn_numbers{
    display: flex;
    margin: 1rem 1rem;
    flex-wrap: wrap;
}
.btn_numbers button{
    font-size: 17px;
    padding: 12px 14px;
    flex: 1;
    margin: 8px;
    border-radius: 8px;
    border:2px solid transparent;
    background:linear-gradient(280deg,#cacaca,#828282);
}
button:hover{
    background: #ff3985;
    color: #fff;
    box-shadow: 0 0 1px 2px #0bf3ff;
}
#btn_point{
    background:linear-gradient(200deg,rgb(27, 175, 255),rgb(16, 126, 185));
    color: #fff;
    border: 2px solid transparent;
}

#btn_eq{
    background:linear-gradient(200deg, rgba(10, 220, 83, 0.866),rgba(13, 130, 54, 0.866));
    color: #fff;
    border: none;
    border: 2px solid transparent;
}

#btn_Ac{
    background:linear-gradient(200deg, rgb(255, 170, 34), rgb(195, 128, 22));
    color: #fff;
    border: 2px solid transparent;
}

#btn_Del{
    background:linear-gradient( 200deg,rgb(255, 27, 27),rgb(187, 18, 18));
    color: #fff;
    border: 2px solid transparent;
}
@media(max-width:600px){
     .gradient{
        width: 70%;
    }
    .container{
        width: 100%;
        min-height: fit-content;
    }
    .btn_numbers button{
        font-size: 13px;
    }
.container .display input{
    width:100%;
    font-size: 14px;

}
}

@media(max-width:450px){
     .gradient{
        width: 90%;
        margin: 0.7rem;
    }
    .container{
        width: 100%;
    }
    .btn_numbers button{
        font-size: 12px;
        padding: 10px 12px;
    }
    
.container .display input{
    width:100%;
    font-size: 14px;

}
}

@media(max-width:360px){
    .gradient{
        width: 100%;
        padding: 1rem 0.7rem;
    }
    .container{
        width: 100%;
    }
    .btn_numbers button{
        font-size: 12px;
        margin: 0.34rem;
        padding:5px 12px;
    }
    
}
@media(max-width:320px){
     .gradient{
        width: 100%;
        padding: 0.8rem 0.6rem;
    }
    .btn_numbers button{
        font-size: 11px;
        margin:0.2rem ;
        padding:10px 11px;
    }
}